.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #007C1B; 
  }
  
  .formWrapper {
    width: 400px; 
    padding: 20px;
    border-radius: 10px;
    background-color: #ffffff; 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
  }